<h2>Here's a list of all the places Alex has been!</h2>
<p> 

   <div>
        <a href="/places/new/" class="btn btn-success">Add New Place</a>

      </div>
 <p>
 <p>
 <p>     
<h5> Click on a place name below to read the posts! </h5>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>